asgiref
asn1crypto
certifi
cffi
cryptography
dj-database-url
dj-static
Django
eight
future
Geraldo==0.4.16
lxml
Pillow
pycparser
pyOpenSSL
PySIGNFe==0.1.0
python-decouple
pytz
reportlab
signxml
six
sqlparse
static3
